<div class="page top-page">
  <div class="contents">
    <div class="content1">
      <div class="index-img1">
        <%= image_tag "image1.png", class:"log-out-img" %>
      </div>
      <div class="index-sentense1">
        家族・同居人内の専用ルームで献立を登録！<br>
        今日のご飯が何かいつでも確認可能！
      </div>
    </div>
    <div class="content2">
      <div class="index-sentense2">
        登録も簡単！　1分で会員登録！<br>
        登録後はルーム作成or参加！
      </div>
    </div>
    <div class="content3">
      <div class="index-sentense3">
        xxx<br>
        yyy
      </div>
      <div class="index-img3">
        <%= image_tag "image1.png", class:"log-out-img" %>
      </div>
    </div>
  </div>
</div>