<div class="header">
  <div class="header-left">
    <h1 class="logo">何たベル？</h1>
  </div>
  <div class="header-right">
    <% if user_signed_in? %>
      <%= link_to current_user.name, "#", class: "link user-name" %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "link logout" %>
    <% else %>
      <%= link_to 'ログイン', new_user_session_path, class: "link login" %>
      <%= link_to '新規登録', new_user_registration_path, class: "link sign-up" %>
    <% end %>
  </div>
</div>

<div class="top-page">
  <div class="page-title">
    <h1 class="title-text">トップページ</h1>
  </div>

  <div class="contents">
    <% if user_signed_in? %>
      ログインしている状態でルーム参加済みのトップページです。<br>
      今週の献立、夕食有無の連絡機能を作成する予定です。
    <% else %>
      ログインしていない状態のトップページです。<br>
      画面イメージとログイン入力機能を作成する予定です。
    <% end %>
  </div>
</div>