<div class="page room-wait-page">
  <div class="page-title">
    <h1 class="title-text">ルーム入室承認待ち</h2>
  </div>
  <% @room.each do |room| %>
    <div class="explanation">
      <%= "ただいま#{room.room_name}のルームに入室申請中です。" %>
    </div>
  <% end %>
  <div class="transition-btn">
    <div class="btn-content">
      <%= link_to '入室申請を取り消す', cancel_rooms_path, class:"delete-btn" %>
    </div>
  </div>
</div>