/* ヘッダー、フッター */
.page-header {
  height: 10vh;
  background: beige;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 200;
  line-height: 10vh;
}

.header-left .logo {
  color: #333;
  text-decoration: none;
  font-size: 32px;
  font-family: 'Hiragino Maru Gothic Pro';
  margin-left: 3vw;
}

.header-right, .header-link {
  color: #333;
  text-decoration: none;
  margin-right: 3vw;
}

.page-footer {
  color: #999;
  height: 5vh;
  background: beige;
  line-height: 5vh;
  text-align: center;
}

/* /ヘッダー、フッター */

.link:hover {
  opacity: 0.75;
}

